@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
body{
    background-image: url("../../img/1209999.png");
}
a {
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #fffbfb;
    border-radius: 50% 20% / 10% 40%;
    background-color: #29afa3;
    padding : 0.7%;
    box-shadow:  0 2px 1px 1px rgba(9, 0, 0, 0.5), 0 1px 2px 1px rgba(9, 0, 0, 0.5);
}

#connecter {
    display: flex;
    justify-content: center;
}

h1, h2 {
    font-family: 'Kanit', sans-serif;
    display: flex;
    justify-content: center;
    color: whitesmoke;
}

.marquee-rtl{
    max-width: 130em;/* largeur de la fenêtre */
    margin: 1em auto 2em;
    overflow: hidden;/* masque tout ce qui dépasse */
    border-radius: 10px;
}
.marquee-rtl>:first-child{
    display: inline-block;/* modèle de boîte en ligne */
    padding-right: 2em;/* un peu d'espace pour la transition */
    padding-left: 100%;/* placement à droite du conteneur */
    white-space: nowrap;/* pas de passage à la ligne */
    animation: defilement-rtl 20s infinite linear;
}
@keyframes defilement-rtl {
    0% {
        transform: translate3d(0, 0, 0); /* position initiale à droite */
    }
    100% {
        transform: translate3d(-100%, 0, 0); /* position finale à gauche */
    }
}
#date{
    position: absolute;
    color: whitesmoke;
    font-size: 75%;
}

#borderRadius{
    background-image: url("../../img/giphy.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50% 20% / 10% 40%;
    box-shadow:  0 4px 3px 2px rgb(9, 0, 0), 0 2px 3px 2px rgb(9, 0, 0);
    font-family: 'Kanit', sans-serif;
    display: flex;
    justify-content: center;
    margin: 10% 0 0 32.7%;
    padding: 5%;
    width: 25%;
    height: 15em;
    opacity: 0.9;
    transition: 0.8s;
}
#borderRadius:hover{
    opacity: 1;
}

.form-control {
    width: 15em;
    transition: ease-in-out, width .35s ease-in-out; /*augmente la taille*/
    border-width : 0;
    margin-top: 10px;
    font-family: "Segoe Print", Verdan, Arial;
    background-color: rgba(182, 232, 226, 0.17);
    border-radius: 4px;
}
::placeholder {
    color: whitesmoke;
    font-size: 1em;
}
.form-control:focus {
    width: 250px;
}

.submit {
    background-color: #4a514c;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    width: 100%;
    text-decoration: none;
    margin: 10px 2px;
    cursor: pointer;
    box-shadow: 3px 2px 2px rgb(37, 29, 29);
    transition: background-color 1s;
}

.submit:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(252, 252, 252);
}