<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
        {% block body %}
            <a href="{{ path('login') }}">Se connecter</a>
            {% if app.user %}
                <a href="{{ path('logout') }}">Se déconnecter</a>
            {% endif %}
        {% endblock %}
    </body>
</html>
